@import './base.css';

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    display: block;
    width: 100vw;
    max-width: none;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}